@import '~bootstrap/dist/css/bootstrap';
@import '~flag-icon-css/css/flag-icons';

:root{
    --primary: rgb(149, 83, 83);
    --secondary:rgb(83, 33, 33);
}

h1, h2{
    text-align: center;
    margin-bottom: 3rem;
    color: var(--secondary);
    text-shadow: 1px 1px 1px #000000;
}


/********* Barra de navegación*********/
.barraNav{
    background-color: var(--primary);
    box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.404);
}

.logo img{
    margin: 0;
    padding: 0;
}

.categorias{
    position: relative;
    top: 1vh;
}

.navCategorias{
    background-color: var(--secondary);
    text-align: center;
}

.navCategorias a{
    color: rgb(255, 255, 255);
}

.navCategorias a:hover{
    color: var(--secondary);
    font-weight: bold;
}

ul{
    list-style-type: none;
}

.navRevisor{
    background-color: var(--secondary);
    text-align: center;
}

.navRevisor a{
    color: white;
}



/*************Anuncios**********/
.anuncios{
    box-shadow: 6px 7px 23px 0px rgba(0, 0, 0, 0.633);
    transition: all 0.6s ease;
    text-align: center;
    width: 20rem;
}

.anuncios img{
    height: 18rem;
}

.anuncios:hover{
    box-shadow: 6px 7px 23px 0px rgba(0, 0, 0, 0.971);
    background-color: var(--secondary);
    color: white;
}

.anuncios .mostrarMas{
    transition: all 0.7s ease;
}

.anuncios:hover .mostrarMas{
    background-color: white;
    color: var(--primary);
}


/************Formularios************/
.formularios{
    background-color: var(--primary);
    color: white;
    text-align: center;
}


/************Administrador**********/

.btnAdm{
    border-radius: 0.8rem;
    background-color: var(--primary);
    color: white;
    transition: all 0.7s ease;
}

.btnAdm:hover{
    background-color: var(--secondary);
    font-size: 1.1rem;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.971);
}


/*************Footer**************/
.piedepagina{
    background-color: var(--primary);
}

.contenedorfooter{
    margin-top: 15vh;
}