@import '~bootstrap/dist/css/bootstrap';
@import '~flag-icon-css/css/flag-icons';
@import '~bootstrap-icons/font/bootstrap-icons';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Oswald:wght@300&family=Roboto+Condensed&family=Roboto+Mono:wght@100&display=swap');




*{
    font-family: 'Noto Sans', sans-serif;
    
}

body{
    overflow-x: hidden;
}


:root{
    --primary: rgb(149, 83, 83);
    --secondary:rgb(83, 33, 33);
    --black: rgb(00,00,00);
    --white: rgb(254, 254, 254);
    
}

h1, h2{
    text-align: center;
    margin-bottom: 3rem;
    color: var(--black);
    text-shadow: 1px 1px 1px #000000;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--principal) ;
    }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
    }

  *::-webkit-scrollbar-track {
    background: white;
    }

  *::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 10px;
    border: 2px solid var(--dia);
    }

/************Imagenes**************/
.VERY_UNLIKELY{
    color: greenyellow;
}
.UNLIKELY{
    color: green;
}
.POSSIBLE{
    color: orange;
}
.LIKELY{
    color: orangered;
}
.VERY_LIKELY{
    color: red;
}
.UNKNOWN{
    color: grey;
}


/********* Barra de navegación*********/
.barraNav{
    background-color: var(--white);
    border-bottom: 5px solid;
    border-color: var(--secondary);
}

.logo img{
    margin: 0;
    padding: 0;
}

.categorias{
    position: relative;
    top: 1vh;
}
.usuario{
    position: relative;
    top: 1vh;
    margin-right: 1vw;
}

.navCategorias{
    background-color: var(--secondary);
    text-align: center;
}

.navCategorias a{
    color: rgb(255, 255, 255);
}

.navCategorias a:hover{
    color: var(--secondary);
    font-weight: bold;
}

ul{
    list-style-type: none;
}

.navRevisor{
    background-color: var(--secondary);
    text-align: center;
}

.navRevisor a{
    color: white;
}

.crearAnuncio{
    background-color: var( --secondary);
}
.enter{
    border: 2px solid;
    border-radius: 10px;
    border-color: var(--secondary);
    color: var(--secondary);
}


/*************Anuncios**********/
.anuncios{
    box-shadow: 6px 7px 23px 0px rgba(0, 0, 0, 0.633);
    transition: all 0.6s ease;
    text-align: center;
    width: 20rem;
    overflow: hidden;
}

.anuncios img{
    height: 18rem;
}

.anuncios:hover{
    box-shadow: 6px 7px 13px 0px rgba(0, 0, 0, 0.971);
    background-color: var(--secondary);
    color: white;
}


.anuncios .mostrarMas{
    transition: all 0.7s ease;
    background-color: var(--primary);
}

.anuncios:hover .mostrarMas{
    background-color: white;
    color: var(--primary);
}

.imagenShow{
    border: 2px solid var(--primary);
    border-radius: 0.3rem;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.971);
}

.bodyShow{
    width: auto;
    text-align: center;
    border: 1px solid var(--primary);
    border-radius: 0.3rem;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.971);
}

.tituloShow{
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--secondary);
    padding-bottom: 2vh;
}

.precioShow{
    color: rgb(56, 165, 42);
    font-weight: bold;
    display: flex;
    justify-content: end;
    position: sticky;
    font-size: 1.4rem;
    padding-right: 2vh;
    
}

.descripcionShow{
    padding-bottom: 3vh;
}

.showTecnic{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1vh;
}

.publicadoShow{
    font-size: 0.6rem;
}

.userShow{
    font-size: 0.6rem;
}

.categoriaShow{
    font-style: oblique;
}



/************Formularios************/
.formularios{
    background-color: var(--primary);
    color: white;
    text-align: center;
}


/************Administrador**********/

.btnAdm{
    border-radius: 0.8rem;
    background-color: var(--primary);
    color: white;
    transition: all 0.7s ease;
}

.btnAdm:hover{
    background-color: var(--secondary);
    font-size: 1.1rem;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.971);
}


/*************Footer**************/
.piedepagina{
    background-color: var(--primary);
    width: 100vw;
}

.contenedorfooter{
    margin-top: 15vh;
}


/************************************** RESPONSIVE********************************************/

